/*------------ ARENA SKÖVDE ------------------ */
.EventTeaser.skovdearenateaser {
    margin-bottom: 10px;
    background: #E0EBF2;
    border-top: solid 1px #B2CDDF;
    border-bottom: solid 1px #B2CDDF;
}

.EventTeaser.skovdearenateaser img {
    border: none;
}

/* -------------- LERUM -------------------- */
.EventTeaser.lerumteaser {
    background: #fff url("http://www.lerum.se/CustomerUtil/Public/Images/moreinfo_item.png") no-repeat center left;
    border-bottom: dotted 1px #ccc;
    transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
}

.EventTeaser.lerumteaser a {
    display: block;
    margin-left: 12px;
    background: url("http://www.lerum.se/CustomerUtil/Public/Images/new_page_icon.png") no-repeat center right; 
   line-height: 25px;
}

.EventTeaser.lerumteaser:hover {
    background-color: #CBD2DA;
}
/* -------------- MARIESTAD -------------------- */
.EventTeaser.mariestadteaser  {
	margin-bottom: 15px;
}
.EventTeaser.mariestadteaser a {
	font-weight: bold;
}
.EventTeaser.mariestadteaser img {
	border:none;
}
/* -------------- TOREBODA -------------------- */
.EventTeaser.torebodateaser  {
	margin-bottom: 15px;
}
.EventTeaser.torebodateaser a {
	font-weight: bold;
}
.EventTeaser.torebodateaser img {
	border:none;
}
/* -------------- GULLSPAN -------------------- */
.EventTeaser.gullspanteaser  {
	margin-bottom: 15px;
}
.EventTeaser.gullspanteaser a {
	font-weight: bold;
}
.EventTeaser.gullspanteaser img {
	border:none;
}

/* -------------- Orust -------------------- */
.EventTeaser.orustteaser a {
text-decoration: underline;
}
.EventTeaser.orustteaser a:hover {
text-decoration: none;
}

/* -------------- TJORN -------------------- */
.EventTeaser.tjornteaser a img {
	float:right;
	margin-right: 0px;
}


/* -------------- Bengtsfors -------------------- */
.EventTeaser.bengtsforsteaser a span, .EventTeaser.bengtsforsteaser span {
    font-style: normal;
}

