@charset "utf-8";
/* CSS Document */

body {

height:100%;
color: #333333;
}

html {

height:100%;

}



.heading, a.heading, a.heading:link, a.heading:visited, a.heading:hover, a.heading:active {
font-family:Arial, Helvetica, sans-serif;
font-size: 385%;
font-weight:normal;
color: #fff;

}

.mellanrubrik, a.mellanrubrik, a.mellanrubrik:link, a.mellanrubrik:visited, a.mellanrubrik:hover, a.mellanrubrik:active {
font-family:Arial, Helvetica, sans-serif;
font-size: 223%;
color: #ffffff;
font-weight:normal;

}

.brodtext, a.brodtext:link, a.brodtext:visited, a.brodtext:hover, a.brodtext:active {
font-family:Arial, Helvetica, sans-serif;
color: #fff;
font-weight:normal;

}

.forstasidor, a.forstasidor, a.forstasidor:link, a.forstasidor:visited, a.forstasidor:hover, a.forstasidor:active {
	font-family:Arial, Helvetica, sans-serif;
color: #333333;
font-weight:normal;
	font-size: 95%;
	background:none;
	border:none;
	text-decoration:none;
	}


.ingress, a.ingress, a.ingress:link, a.ingress:visited, a.ingress:hover, a.ingress:active {
	
	font-family:Arial, Helvetica, sans-serif;
color: #333333;
font-weight:normal;
	font-size: 190%;
	line-height:160%;
	}

/* SÖKRUTA SIDHUVUD */

.portal .sv-searchform-portlet {
   position: relative;
   background: #fff;
   border: 1px solid #ccc;
   text-align: left;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   padding:10px;
   -webkit-box-shadow: 0 0 10px 0 #666;
   box-shadow: 0 0 10px 0 #666;
}

.portal .sv-searchform-portlet input {
  font-size:130%;
}
.portal .sv-searchform-portlet input[type="text"] {
   border: 0 none;
   line-height: 140%;
   padding: 5px 7px;
   vertical-align: middle;
   width: 87% !important;
   background-color:#F2F2F2;
   color: black;
   font-style:italic;
}
.portal .sv-searchform-portlet input[type="text"]:focus {
   background-color:#eef6df;
}
.portal ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
.portal :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
.portal ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
.portal :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
.portal .sv-searchform-portlet input[type="submit"] {
   position: absolute;
   right: 23px;
   top: 13px;
   background-color:transparent;
   border: 0 none;
   color: black;
}

body	{ 
   background-attachment:fixed;
}

.white-box2 img {
   max-width: 100% !important;
   max-height: 100% !important;
   width: 100%;
} 