/* Styling for the google maps integration */

.lp-map-canvas {
  width: 100%;
  height: 400px;
}
.lp-map-canvas.collected {
  width:65%;
  float: left;
}

/* Style searchresult*/
ol#searchResult {
    width: 32%;
    float: right;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
    min-height: 400px;
    list-style-type: none;
}

ol#searchResult li:first-child {
   border-top: 1px solid #ddd;
}

ol#searchResult li {
    margin:0;
    padding:7px 7px;
    border-bottom:1px solid #ddd;
    background: #f4f4f4;
    cursor:pointer;
}
ol#searchResult li:hover {
    background-color:#ccc;
}
/* Categories styling */


.lp-map .mapalts a {
   color: #fff;
   background: #57bedf;
   background: -moz-linear-gradient(top,  #57bedf 0%, #3a97b6 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57bedf), color-stop(100%,#3a97b6));
   background: -webkit-linear-gradient(top,  #57bedf 0%,#3a97b6 100%);
   background: -o-linear-gradient(top,  #57bedf 0%,#3a97b6 100%);
   background: -ms-linear-gradient(top,  #57bedf 0%,#3a97b6 100%);
   background: linear-gradient(to bottom,  #57bedf 0%,#3a97b6 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57bedf', endColorstr='#3a97b6',GradientType=0 );  
}

.lp-map .mapalts a:hover,
.lp-map .mapalts a.lp-selected {
   background: #00abdb;
   background: -moz-linear-gradient(top,  #00abdb 0%, #0085b2 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00abdb), color-stop(100%,#0085b2));
   background: -webkit-linear-gradient(top,  #00abdb 0%,#0085b2 100%);
   background: -o-linear-gradient(top,  #00abdb 0%,#0085b2 100%);
   background: -ms-linear-gradient(top,  #00abdb 0%,#0085b2 100%);
   background: linear-gradient(to bottom,  #00abdb 0%,#0085b2 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abdb', endColorstr='#0085b2',GradientType=0 );
   
}
.lp-map .mapalts a:hover {
  text-decoration: underline;
}
.gm-style .gm-style-iw img {
  float:right;
}
.gm-style .gm-style-iw .sv-portlet-image-caption {
  display: none;
}
.lp-mapalts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  /* width: 187px; */
  /* float: right; */
}

.lp-mapalt {
  padding: 0;
  margin: 0;
  /* display: block; */
}

.lp-mapalt-li {
  margin-top: 1em;
  margin-right: 1em;
  background-color: #ccc;
  /* clear: left; */
  float: left;
}

.lp-markerfilter {
  padding: 0;
  margin: 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  /* padding-bottom: 0.8em; */
  /* padding-left: 2.9em; */
  background-repeat: no-repeat;
  background-position: 0.4em 0.5em;
  float: left;
}

/*Ljudslinga*/
#mapalt_a_100_539d1c491275e7d056480001345 {
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001424/icon_listen.gif);
}

/*Promenadstråk*/
#mapalt_a_100_539d1c491275e7d056480001346{
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001427/icon_runwalk.gif);
}

/*Hotell camping*/
#mapalt_a_100_539d1c491275e7d056480001347{
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001425/icon_live.gif);
}

/*Fik/restaurang*/
#mapalt_a_100_539d1c491275e7d056480001348{
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001423/icon_eat.gif);
}

/*Sevärt*/
#mapalt_a_100_539d1c491275e7d056480001349{
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001428/icon_see.gif);
}

/*BADA*/
#mapalt_a_100_539d1c491275e7d056480001350{
  background-image: url(http://www.visitnora.se/images/18.539d1c491275e7d056480001429/icon_swim.gif);
}

/* Styling for admin interface */

#infoPanel {
  width: 100%;
}

#infoPanel div {
  margin-bottom: 5px;
}

.controllerContainer {
  background-color: #fafafa;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.ubordered {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.controllerButton {
  margin: 0.24em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  float: left;
}

.controllerText {
  border-top: 1px solid rgb(112,112,112);
  border-left: 1px solid rgb(112,112,112);
  border-right: 1px solid rgb(208,208,208);
  border-bottom: 1px solid rgb(208,208,208);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}

input.controllerText{
  border-spacing: 0;
  border-collapse: collapse;
  cursor:text;
}
