@media print {
  #google-translate-modal {
    display: none;
  }
}

#google-translate-modal {
  background: #fff;
  border: solid 1px #c5c5c5;
  display: none;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: 2em;
  width: 18em;
  z-index: 999;
}

#google-translate-modal-close {
  float: right;
  padding-top: 0.3em;
}

#google-translate-modal p {
  clear: right;
  margin: 0.5em 0 0 0;
  text-align: center;
  font-size: 10px;
  line-height: normal;
}

#google_translate_element a {
  text-decoration: none;
}
