
/*  #companyJobList is the company-name.mynetworkglobal.com */
@import url("../../Default/boilerplate.css");

#companyJobList_default{ /* Remove all these from all child-elements */
    color: #000000;
    font-family: Verdana,Arial,Helvetica;
}

#companyJobList_default img{
    border:none;
}

#companyJobList_default tr.oddRow{
    background-color: #eee;
    /*border-bottom: 1px solid #000; */
}
#companyJobList_default tr.evenRow{
    background-color: #fff;
}

#companyJobList_default .bottomNavLinks{
    margin-top: 40px;
}

#companyJobList_default table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

#companyJobList_default #wait-box-container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}


#companyJobList_default a.button,
#companyJobList_default input[type="submit"].button,
#companyJobList_default input[type="button"].button
#companyJobList_default .loginArea a.button,
#companyJobList_default .loginArea input[type="submit"].button,
#companyJobList_default .loginArea input[type="button"].button{
    padding: 5px 9px;
    background: #eee;
    color: #444;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ddd;
    text-shadow: 0 -1px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration: none;
    white-space:nowrap;
    display: block;
    display: inline-block;
}
#companyJobList_default a.button:hover,
#companyJobList_default input[type="submit"].button:hover,
#companyJobList_default input[type="button"].button:hover{
    background: #ddd;
    border: solid 1px #ccc;
    text-decoration: none;
}
#companyJobList_default a.button:active,
#companyJobList_default input[type="submit"].button:active,
#companyJobList_default input[type="button"].button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #ddd;
    border: solid 1px #ccc;
}


#companyJobList div.topContainer{
    max-width: 900px;
}


#companyJobList_default div.mainContainer {
    max-width: 800px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#companyJobList .adAndSideWrap {
    min-width: 320px;
}

#companyJobList_default #logoHolder {
    margin-bottom: 15px;
}

#companyJobList_default #logoHolder img {
    max-width: 100%;
}

#companyJobList_default div.langFlagHolder {
    text-align: right;
    margin-top: 1%;
}

#companyJobList_default div.langFlagHolder > a{
    opacity: 0.3;
    padding-left: 1.2%;
}
#companyJobList_default div.langFlagHolder > a:hover{
    opacity: 1.0;
    /* -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
     transition-duration: 0.3s; */
}

#companyJobList_default div.langFlagHolder  img{
    width: 24px;
}



#companyJobList_default .textLabel, #companyJobList_default .textContent {
    float: none;
}


#companyJobList_default .textLabel, #companyJobList_default .textContent {
    float: none;
}



#companyJobList_default .textLabel, #companyJobList_default .textContent {
    float: none;

}


#companyJobList_default .jobRow a, #companyJobList_default .jobRowSp a, #companyJobList_default .jobRow a{
    display: block;
    text-decoration: none;
    padding: 0.4em 0em;
}



#companyJobList_default #frmEraseSubscriptions label, #companyJobList_default #subscribeForm label, #findJobForm label{
    display: inline-block;
    font-size: 10px;
    width: 180px;
    white-space: nowrap;
}
#companyJobList_default #findJobForm input,
#companyJobList_default #findJobForm select,
#companyJobList_default #frmEraseSubscriptions input,
#companyJobList_default #frmEraseSubscriptions select,
#companyJobList_default #subscribeForm select,
#companyJobList_default #subscribeForm input{
    width: 300px;
}

#companyJobList_default #frmEraseSubscriptions input[type="submit"],
#companyJobList_default #subscribeForm input[type="submit"]{
    width: 180px;
}
#companyJobList_default #findJobForm input[type="button"]{
    width: 147px;
}

#companyJobList_default #findJobForm label.frmerror,
#companyJobList_default #frmEraseSubscriptions label.frmerror,
#companyJobList_default #subscribeForm label.frmerror{
    color: #B00;
}
#companyJobList_default #findJobForm label.frmerror:before,
#companyJobList_default #frmEraseSubscriptions label.frmerror:before,
#companyJobList_default #subscribeForm label.frmerror:before{
    content: "* ";
}

.otherLinks {
    font-size: 0.7em;
}

.informationDiv {
    border: 2px solid #6DBFE0;
    width: 50%;
    margin-bottom: 3%;
    background: #bde1ef;
    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.informationDiv a {
    font-size: 0.9em;
    color: black;
}

.loginArea {
    width: 97%;
}

.loginArea p {
    width: 90%;
}

.loginArea label {
    display: block;
    color: #666;
    letter-spacing: 1px;
    font-size: 0.7em;
    margin-bottom: 0.5%;
}

.loginArea input[type="password"],
.loginArea input[type="text"],
.loginArea input[type="email"]{
    background: #f8f8f8;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5%;
    font-size: 1em;
    border-width: 1px;
    width: 100%;
}


.loginArea input.loginBtn {
    margin-top: 7%;
    margin-bottom: 2%;
}
/* Alert boxes */
.alert {
    background: none repeat scroll 0 0 #d9edf7;
    border: 2px solid #6dbfe0; /*#bce8f1;*/
    color: #31708f;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 11px;
}
/* Alert box warning */
.alert-warning {
    background-color: #ffee8c;
    border-color: #ffd38c;
}
.alert-warning, .alert-warning p, .alert-warning a, .alert-warning h1, .alert-warning h2, .alert-warning h3, .alert-warning h4 {
    color: #444;
}
.alert-warning a {
    color: #141496;
}

/*
.loginArea a.loginBtn {
    background: #eee;
    color: #444;
    width: 30%;
    margin-top: 7%;
    margin-bottom: 2%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ddd;
    text-shadow: 0 -1px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration: none;
    white-space:nowrap;
    display: block;
    display: inline-block;
    text-align: center;
} */

.loginArea a.bottomButtons {
    font-size: 0.8em;
}

.loginArea a.button.default {
    background: #008AFF;
    color: #fff;
}
.loginArea a.button.hover {
    background: #666;
    color: #000;
}
.loginArea a.button:active {
    background: #111;
    color: #fff;
}

#loginForm {
    width: 40%;
}

#loginForm input {
    font-size: 0.9em;
}

.forgotPass {
    float: right;
}

.alternativeLoginText {
    font-size: 0.7em;
    margin-bottom: 1%;
}

.otherLogin {
    width: 40%;
}

.otherLogin img {
    width: 27%;
}

.otherLogin a {
    text-decoration: none;
}

.loginArea button.default {
    background: #008AFF;
    color: #fff;
}
.loginArea button.hover {
    background: #666;
    color: #000;
}
.loginArea button:active {
    background: #111;
    color: #fff;
}

/*
.loginButton{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
*/
.headerBig {
    font-family: Verdana, Arial, Helvetica;
    font-size: 1.50em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 95%;
}

div.jobContainer {
    width: 100%;
    float: left;
    font-family: Verdana;
}

.registrationProcessMain {
    margin-left: 780px;
    position: absolute;
    top: 10px;
}

.registrationLogout {
    margin-top: 30px;
}

.registrationLogo {
    margin-left: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
    height: 90px;
    background-color: white;
}

a.registerButton {
    margin-top: 2%;
    padding: 10px 15px;
    background: #eee;
    color: #444;
    width: 25%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ddd;
    text-shadow: 0 -1px 0 rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(130, 130, 130, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-decoration: none;
    white-space:nowrap;
    display: block;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    float: right;
}
.registerTableMain {
    width: 500px;
}

.registerTable {
    border-spacing: 0;
    border-collapse: separate;
}

.registerTable td {
    padding: 0.5%;
}

.memberTermsPage {
    max-width: 65%;
    margin-left: 5%;
    margin-top: 2%;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.7em;
}